services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports: 
      - "5000:5000"
    env_file:
      - ./backend/.env
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports: 
      - "5173:5173"
    env_file:
      - ./frontend/.env